@media screen and (min-width:460px){
.login,.register{
    margin: 100px;
}
    
}

.logo{
    width:50px;
}

nav{
    background-color: #800000;
}

.card-panel.success{
    margin: 10px auto;
    background-color: green;
    color: white;

}
.error.card-panel{

    margin: 10px auto;
    background-color: #800000;
    color: white;
}
